	<a href="/element/<%=element.atomic_num %>" title="element <%=element.atomic_num%>">

 		<div class='pt_atomic_num'>
 			<%= element.atomic_num %>
 		</div>
		<div class='pt_symbol'>
 			<%= element.symbol %>
				<% if element.atomic_num == 56 
					%><sup class="pointer">&#9733;</sup>
				<% end 
				%><% if element.atomic_num == 88 
					%><sup class="pointer">&#9733;&#9733;</sup>
				<% end %>
		</div>
		<div class='pt_name'>
			<%= element.name %>
		</div>

		<% before_e_config = Time.now %>
		<div class="narrow">
			<% @orbs = Orb.all(:element_id => element.atomic_num) # get orbitals for this element %>
			<% for eo in 0..@orbs.size-1 %>
					<% before_orbital = Time.new %>
					<% @orbital = Orbital.get(@orbs[eo].orbital_id) # for each orbital id (e.g. 11), get its term (e.g. 5p)%>
					<% time_orbital = Time.new-before_orbital %><% @time_orbitals += time_orbital%>
					</p><% before_terms = Time.new %>
						<%=@orbital.n %>
						<%= @orbital.l %>
						<sup class="narrow"><%=@orbs[eo].count%></sup>
						<% @terms += (Time.new-before_terms)
				%><% end %>
		</div>
		<% @time_in_e_config += Time.now - before_e_config %>

	</a>