<table>
	<tr><!-- Row for element above origin-->
		<td></td>
		<td class="inPTable">
			<!-- For element above origin element -->
			<% @above = Element.all(:period => @origin.period-1, :group => @origin.group) #, :order => [ :group.desc ], :limit => 1) %>
			<% if @above.size > 0 %>
				<% @above.each {|element| @above_element = element} %>
				<% element = @above_element %>
					<p>Above:</p>
					<span class="pt_atomic_num"><%= element.atomic_num %></span><br>
					<span class="pt_symbol"><%= element.symbol %></span><br>
					<span class="pt_name"><%= element.name %></span><br>
					<span class="pt_e_config_valence"><%= element.e_config_valence %></span><br>
					<!--span><%= element.e_config_valence %></span>  
					<span><%= element.period %></span>  
					<span><%= element.group %></span-->
			<% end %>
		</td>
		<td></td>
	</tr>
	<tr><!-- Row for left, origin, right elements-->
		<td class="inPTable">
			<!-- For element to the left of origin element -->
			<% @left = Element.all(:period => @origin.period, :group.lt => @origin.group, :order => [ :group.desc ], :limit => 1) %>
			<% if @left.size > 0 %>
				<% @left.each {|element| @left_element = element} %>
				<% element = @left_element %>
					<p>Left:</p>
					<span class="pt_atomic_num"><%= element.atomic_num %></span><br>
					<span class="pt_symbol"><%= element.symbol %></span><br>
					<span class="pt_name"><%= element.name %></span><br>
					<span class="pt_e_config_valence"><%= element.e_config_valence %></span><br>
					<!--span><%= element.e_config_valence %></span>  
					<span><%= element.period %></span>  
					<span><%= element.group %></span-->
			<% end %>
		</td>
		<td class="inPTable">
			<!-- For origin element -->
			<% element = @origin %>
				<p>Origin:</p>
				<span class="pt_atomic_num"><%= element.atomic_num %></span><br>
				<span class="pt_symbol"><%= element.symbol %></span><br>
				<span class="pt_name"><%= element.name %></span><br>
				<span class="pt_e_config_valence"><%= element.e_config_valence %></span><br>
				<!--span><%= element.e_config_valence %></span>  
				<span><%= element.period %></span>  
				<span><%= element.group %></span-->
		</td>
		<td class="inPTable">
			<!-- For element to the right of origin element -->
			<% @right = Element.all(:period => @origin.period, :group.gt => @origin.group, :order => [ :group.asc ], :limit => 1) %>
			<% if @right.size > 0 %>
				<% @right.each {|element| @right_element = element} %>
				<% element = @right_element %>
					<p>Right:</p>
					<span class="pt_atomic_num"><%= element.atomic_num %></span><br>
					<span class="pt_symbol"><%= element.symbol %></span><br>
					<span class="pt_name"><%= element.name %></span><br>
					<span class="pt_e_config_valence"><%= element.e_config_valence %></span><br>
					<!--span><%= element.e_config_valence %></span>  
					<span><%= element.period %></span>  
					<span><%= element.group %></span-->
			<% end %>
		</td>
	</tr>
	<tr><!-- Row for element below origin-->
		<td></td>
		<td class="inPTable">
			<!-- For element below origin element -->
			<% @below = Element.all(:period => @origin.period+1, :group => @origin.group) #, :order => [ :group.desc ], :limit => 1) %>
			<% if @below.size > 0 %>
				<% @below.each {|element| @below_element = element} %>
				<% element = @below_element %>
					<p>Below:</p>
					<span class="pt_atomic_num"><%= element.atomic_num %></span><br>
					<span class="pt_symbol"><%= element.symbol %></span><br>
					<span class="pt_name"><%= element.name %></span><br>
					<span class="pt_e_config_valence"><%= element.e_config_valence %></span><br>
					<!--span><%= element.e_config_valence %></span>  
					<span><%= element.period %></span>  
					<span><%= element.group %></span-->
			<% end %>
		</td>
		<td></td>
	</tr>
</table>