<% @above = Element.all(:period => @origin.period-1, :group => @origin.group) #, :order => [ :group.desc ], :limit => 1) %>
<% @left = Element.all(:period => @origin.period, :group.lt => @origin.group, :order => [ :group.desc ], :limit => 1) %>
<% @right = Element.all(:period => @origin.period, :group.gt => @origin.group, :order => [ :group.asc ], :limit => 1) %>
<% @below = Element.all(:period => @origin.period+1, :group => @origin.group) #, :order => [ :group.desc ], :limit => 1) %>

<table>
	<!-- For element above origin element -->
	<% if @above.size > 0 %>
		<tr><!-- Row for element above origin-->
			<% if @left.size > 0 %>
				<td></td>
			<% end %>
			<td class="inPTable">
				<% @above.each {|element| @above_element = element} %>
				<% element = @above_element %>
				<a href="/element/<%=element.atomic_num %>">
					<span class="pt_atomic_num"><%= element.atomic_num %></span><br>
					<span class="pt_symbol"><%= element.symbol %></span><br>
					<span class="pt_name"><%= element.name %></span><br>
					<span class="pt_e_config_valence"><%= element.e_config_valence %></span><br>
					<!--span><%= element.e_config_valence %></span>  
					<span><%= element.period %></span>  
					<span><%= element.group %></span-->
				</a>
			</td>
			<% if @right.size > 0 %>
				<td></td>
			<% end %>
		</tr>
	<% end %>
	<tr><!-- Row for left, origin, right elements-->
		<% if @left.size > 0 %>
			<td class="inPTable">
				<!-- For element to the left of origin element -->
				<% @left.each {|element| @left_element = element} %>
				<% element = @left_element %>
				<a href="/element/<%=element.atomic_num %>">
					<span class="pt_atomic_num"><%= element.atomic_num %></span><br>
					<span class="pt_symbol"><%= element.symbol %></span><br>
					<span class="pt_name"><%= element.name %></span><br>
					<span class="pt_e_config_valence"><%= element.e_config_valence %></span><br>
					<!--span><%= element.e_config_valence %></span>  
					<span><%= element.period %></span>  
					<span><%= element.group %></span-->
				</a>
			</td>
		<% end %>
		<td class="inPTable" rowspan="2">
			<!-- For origin element -->
			<% element = @origin %>
				<span class="pt_atomic_num"><%= element.atomic_num %></span><br>
				<span class="pt_symbol"><%= element.symbol %></span><br>
				<span class="pt_name"><%= element.name %></span><br>
				<span class="pt_e_config_valence"><%= element.e_config_valence %></span><br>
				<span><%= element.e_config_valence %></span><br>
				<span><%= element.period %></span><br>
				<span><%= element.group %></span><br>
				<span>Melting point: xxx</span><br>
				<span>Boiling point: ttt</span><br>
				<span>Atomic weight: yyy</span><br>
		</td>
		<% if @right.size > 0 %>
			<td class="inPTable">
				<!-- For element to the right of origin element -->
				<% @right.each {|element| @right_element = element} %>
				<% element = @right_element %>
				<a href="/element/<%=element.atomic_num %>">
					<span class="pt_atomic_num"><%= element.atomic_num %></span><br>
					<span class="pt_symbol"><%= element.symbol %></span><br>
					<span class="pt_name"><%= element.name %></span><br>
					<span class="pt_e_config_valence"><%= element.e_config_valence %></span><br>
					<!--span><%= element.e_config_valence %></span>  
					<span><%= element.period %></span>  
					<span><%= element.group %></span-->
				</a>
			</td>
		<% end %>
	</tr>
	<tr><!-- Vertical spacer row for elements to left and right of origin, to allow for more info on origin element -->
		<% if @left.size > 0 %>
			<td></td>
		<% end %>
		<% if @right.size > 0 %>
			<td></td>
		<% end %>
	</tr>
	<% if @below.size > 0 %>
		<tr><!-- Row for element below origin-->
			<% if @left.size > 0 %>
				<td></td>
			<% end %>
			<td class="inPTable">
				<!-- For element below origin element -->
					<% @below.each {|element| @below_element = element} %>
					<% element = @below_element %>
					<a href="/element/<%=element.atomic_num %>">
						<span class="pt_atomic_num"><%= element.atomic_num %></span><br>
						<span class="pt_symbol"><%= element.symbol %></span><br>
						<span class="pt_name"><%= element.name %></span><br>
						<span class="pt_e_config_valence"><%= element.e_config_valence %></span><br>
						<!--span><%= element.e_config_valence %></span>  
						<span><%= element.period %></span>  
						<span><%= element.group %></span-->
					</a>
			</td>
			<% if @right.size > 0 %>
				<td></td>
			<% end %>
		</tr>
	<% end %>
</table>