<script type="text/javascript" src="../jquery-1.10.2.min.js"></script>

<script>
	$(document).ready(function() {
		console.log("Running jQuery"); // debugging
		$origin_terms = $('#origin').find('.terms'); // get terms (orbitals, e.g. 3s2) in origin element

		// When user hovers mouse over an adjacent element, highlight the electron terms compared to the origin element
		$('#above, #left, #right, #below').hover(
			function() {
				$adj_terms = $(this).find('.terms'); // get terms (orbitals, e.g. 3d10) in adjacent element
				$adj_terms.children().each(function(j) { // for each orbital term in adjacent element
					adj_term = $(this).text().replace(/\s/g, ''); // e.g., 3d10 [format: nlc where c = electron count]
					//console.log("Adj term: " + term);
					adj_n  = adj_term.charAt(0); // extract n quantum number (1, 2, 3,...) from term
					adj_l = adj_term.charAt(1); // extract l letter (s, p, d, or f) from term
					adj_count  = adj_term.substring(2,adj_term.length); // extract electron count (1-14) from term
					//console.log("e- count: " + adj_count);
					same_l_selector = 'span[class^="ec_"][class$="' + adj_l + '"]'; // jQuery selector for term in origin
					$same_l_in_origin = $origin_terms.children(same_l_selector); // jQuery object: analogous term in origin, e.g. 3d9 (will test to see if exists below)
					same_l = $same_l_in_origin.text().replace(/\s/g, ''); // text of analogous term in origin
					//console.log("selector: " + selector);
					//console.log("$same_l_in_origin term: " + same_l);
					origin_n = same_l.charAt(0);
					origin_count  = same_l.substring(2,same_l.length); // extract electron count (1-14) from term					
					//console.log("origin_count: " + origin_count);

					// If origin doesn't contain term with this l, highlight whole term in adjacent element
					origin_ec_text = $origin_terms.text().replace(/\s/g, '');
					//console.log("Origin terms: " + origin_ec_text);
					contains = origin_ec_text.indexOf(adj_l) != -1
					if (!contains) { // if origin doesn't contain term with this l, highlight whole term in adjacent element
						$(this).addClass('new_orbital');
						return true; // skip rest of highlighting rules: whole term is highlighted because new
					}

					// If n value (for same l term) is different (adj vs. origin), highlight n values
					if(adj_n != origin_n) {
						$same_l_in_origin.children('span[class$="n"]').addClass('diff_n');
						$(this).children('span[class$="n"]').addClass('diff_n');
					}
					
					// If n and l values are same but electron count is different (adj vs. origin), highlight counts
					if(adj_count != origin_count) {
						$same_l_in_origin.children('span[class$="c"]').addClass('diff_count');
						$(this).children('span[class$="c"]').addClass('diff_count');
					}
					
					
				})
				$origin_terms.children().each(function(j) { // for each orbital term in origin element
					origin_term = $(this).text().replace(/\s/g, '');
					//console.log("Origin term: " + term);
					l = origin_term.charAt(1); // extract l letter (s, p, d, or f) from term
					adj_ec_text = $adj_terms.text().replace(/\s/g, '');
					//console.log("Adjacent terms: " + adj_ec_text);
					contains = adj_ec_text.indexOf(l) != -1
					if (!contains) { // if adj element doesn't contain term with this l, highlight whole term in origin element
						$(this).addClass('new_orbital');
					}
				})
			}, function() { // Remove all highlighting on adjacent and origin elements when mouseout of adjacent element
				$adj_terms.find('span').removeClass('new_orbital diff_n diff_count');
				$origin_terms.find('span').removeClass('new_orbital diff_n diff_count');
 			}
		);

	}); // end ready
</script>

<% @ec_class = "pt_e_config_big" #in pt_element.erb, specify electron config style: big text so can see what's highlighted %>

<!-- Database queries to find four adjacent elements. If one doesn't exist, flagged as such to modify table structure. -->
<% begin %>
	<% @above = Element.all(:period => @origin.period-1, :group => @origin.group)[0] %>
	<% above_exists = true if @above.atomic_num # OK if there is an element above origin; will go to rescue if not %>
<% rescue %>
	<% above_exists = false %>
<% end %>

<% begin %>
	<% @left = Element.all(:period => @origin.period, :group.lt => @origin.group, :order => [ :group.desc ], :limit => 1)[0] %>
	<% left_exists = true if @left.atomic_num # OK if there is an element left of origin; will go to rescue if not %>
<% rescue %>
	<% left_exists = false %>
<% end %>

<% begin %>
	<% @right = Element.all(:period => @origin.period, :group.gt => @origin.group, :order => [ :group.asc ], :limit => 1)[0] %>
	<% right_exists = true if @right.atomic_num # OK if there is an element right of origin; will go to rescue if not %>
<% rescue %>
	<% right_exists = false %>
<% end %>

<% begin %>
	<% @below = Element.all(:period => @origin.period+1, :group => @origin.group)[0] %>
	<% below_exists = true if @below.atomic_num # OK if there is an element below origin; will go to rescue if not %>
<% rescue %>
	<% below_exists = false %>
<% end %>

<table>
        <tr><!-- Row for group headers -->
                <th>Group</th>
                        <% if left_exists %>
                                <th><a href="/group/<%=@origin.group-1 %>" title="Group <%=@origin.group-1 %>"><%= @origin.group-1 %></a></th>
                        <% end %>
                        <th><a href="/group/<%=@origin.group %>" title="Group <%=@origin.group %>"><%= @origin.group %></a></th>
                        <% if right_exists %>
                                <th><a href="/group/<%=@origin.group+1 %>" title="Group <%=@origin.group+1 %>"><%= @origin.group+1 %></a></th>
                        <% end %>
        </tr>
        <tr>
                <th class="period_header">
                        Period<br>

        <!-- For element above origin element -->
                        <% if above_exists %>
                            <a href="/period/<%=@origin.period-1 %>" title="Period <%=@origin.period-1 %>"><%= @origin.period-1 %></a>
                </th>

                
                <!-- Row for element above origin-->
                        <% if left_exists %>
                                <td></td>
                        <% end %>
                        <td id="above" class="inPTable">
							<% @element = @above %>
							<%= erb :pt_element %>
                        </td>
                        <% if right_exists %>
                                <td></td>
                        <% end %>
                </tr>
                <tr>
                        <th class="period_header">
                        <% end %>
		<!-- Row for left, origin, right elements-->
				<a href="/period/<%=@origin.period %>" title="Period <%=@origin.period %>"><%= @origin.period %></a>
			</th>
	
		<% if left_exists %>
			<td id="left" class="inPTable">
				<!-- For element to the left of origin element -->
				<% @element = @left %>
				<%= erb :pt_element %>
			</td>
		<% end %>
		<td id="origin" class="inPTable origin">
			<!-- For origin element -->
				<% @element = @origin %>
				<%= erb :pt_element %><br>
				<span class="pt_name_origin">Name origin: <%= @element.name_origin %></span><br>
				<!--span class="pt_group">group: <%= @element.group %></span><br>
				<span class="pt_period">period: <%= @element.period %></span><br-->
				<span class="pt_atomic_weight">Atomic weight: 
					<% if @element.atomic_wt_is_mass_number_of_longest_lived_isotope == 1 %>
						[<%= @element.atomic_weight.round %>]
					<% else %>
						<%= @element.atomic_weight %>
					<% end %>
				</span><br>
				<!--span class="pt_atomic_wt_is_mass_number_of_longest_lived_isotope">atomic_wt_is_mass_number_of_longest_lived_isotope: <%= @element.atomic_wt_is_mass_number_of_longest_lived_isotope %></span><br-->
				<span class="pt_specific_heat_capacity_J_per_gK">Specific heat capacity: <%= @element.specific_heat_capacity_j_per_gk %> J/gK</span><br>
				<span class="pt_density_g_per_cm3">Density: 
					<% if @element.density_is_estimated == 1 %>
						(<%= @element.density_g_per_cm3.round %>)
					<% else %>
						<%= @element.density_g_per_cm3 %>
					<% end %>
					g/cm<sup>3</sup>
				</span><br>
				<!--span class="pt_density_is_estimated">density_is_estimated: <%= @element.density_is_estimated %></span><br-->
				<span class="pt_melting_point_k">Melting point: 
					<% if @element.melt_is_estimated == 1 %>
						(<%= @element.melting_point_k.round %>)
					<% else %>
						<%= @element.melting_point_k %>
					<% end %>
					 K		
				</span><br>
				<!--span class="pt_melt_is_estimated">melt_is_estimated: <%= @element.melt_is_estimated %></span><br-->
				<span class="pt_boiling_point_k">Boiling point: 
					<% if @element.boil_is_estimated == 1 %>
						(<%= @element.boiling_point_k.round %>)
					<% else %>
						<%= @element.boiling_point_k %>
					<% end %>			
					 K		
				</span><br>				
				<!--span class="pt_boil_is_estimated">boil_is_estimated: <%= @element.boil_is_estimated %></span><br-->
				<span class="pt_electronegativity">Electronegativity (Pauling): 
					<% if @element.electronegativity.nil? %>
						unknown
					<% else %>
						<%= @element.electronegativity %>
					<% end %>									
				</span><br>
				<span class="pt_abundance_mg_per_kg">Abundance: 
					<% if @element.abundance_is_upper_limit == 1 %>
						<
					<% end %>
					<%= @element.abundance_mg_per_kg %>
					 mg/kg
				</span><br>
				<!--span class="pt_"abundance_is_upper_limit">abundance_is_upper_limit: <%= @element.abundance_is_upper_limit %></span><br-->
				<!--span class="pt_"e_config_valence">e_config_valence: <%= @element.e_config_valence %></span><br-->
		</td>
		<% if right_exists %>
			<td id="right" class="inPTable">
				<!-- For element to the right of origin element -->
				<% @element = @right %>
				<%= erb :pt_element %>
			</td>
		<% end %>
	</tr>
	<% if below_exists %>
		<tr><!-- Row for element below origin-->
		
			<th class="period_header">
				<a href="/period/<%=@origin.period+1 %>" title="Period <%=@origin.period+1 %>"><%= @origin.period+1 %></a>
			</th>

			<% if left_exists %>
				<td></td>
			<% end %>
			<td id="below" class="inPTable">
				<!-- For element below origin element -->
				<% @element = @below %>
				<%= erb :pt_element %>
			</td>
			<% if right_exists %>
				<td></td>
			<% end %>
		</tr>
	<% end %>
</table>