<p>Max period: <%= @max_period %> </p>
<p>Number of elements: <%= @elements.length %> </p>
<p>Element count: <%= Element.count %></p>
<p>Last element: <%= @elementlast.atomic_num %> <%= @elementlast.name %> </p>
<p>Number of econfigbases: <%= @econfigbases.length %> </p>
<p>Last econfigbase: <%= @econfigbaselast.base %> </p>
<p>Array @ebyp.size: <%= @ebyp.size %> </p>
<p><a href="/test/1">Link to test page #1</a></p>

<!--p>Array @ebyp: <%= @ebyp %> </p>
<p>Hash @ebypHash: <%= @ebypHash %> </p-->
<p>Array @ebypHashKeys: <%= @ebypHashKeys %> </p-->

<p>Start of by-period elements listing</p>
<table>
<% @ebyp.each do |period| %>
	<% lastGroup = 0 %>
	<tr>
		<% period.each do |element| %>
			<% blanks = element.group - lastGroup - 1 %>
			<% while blanks > 0 %>
				<td></td>
				<% blanks = blanks - 1 %>
			<% end %>
			<td class="inPTable">
				<a href="/element/<%=element.atomic_num %>">
					<span class="pt_atomic_num"><%= element.atomic_num %></span><br>
					<span class="pt_symbol"><%= element.symbol %></span><br>
					<!--span><%= @econfigbases.select{|k,v| k = 3} %></span><br!-->
					<span class="pt_name"><%= element.name %></span><br>
					<span class="pt_e_config_valence"><%= element.e_config_valence %></span>
					<!--span><%= element.e_config_valence %></span>  
					<span><%= element.period %></span>  
					<span><%= element.group %></span>
					-->
					<% lastGroup = element.group %>
				</a>
			</td>
		<% end %>
 	 </tr>
<% end %> 
</table>
<p>End of by-period elements listing</p>

<!--
Start of elements listing
<% @elements.each do |element| %>  
  <article>  
    <p>  
      <span><%= element.atomic_num %></span>
      <br>
      <span><%= element.symbol %></span>  
      <span><%= @econfigbases.select{|k,v| k = 3} %></span>
      <span><%= element.e_config_valence %></span>
<!--      <span><%= element.name %></span>  
      <span><%= element.e_config_valence %></span>  
      <span><%= element.period %></span>  
      <span><%= element.group %></span>
-->
    </p>  
  </article>
<% end %> 
End of elements listing
-->

Start of econfigbase listing
<% @econfigbases.each do |econfigbase| %>  
  <article>  
    <p>  
      <span><%= econfigbase.base %></span>
    </p>  
  </article>

<% end %>
End of econfigbase listing