<!--
<p>@@max_group: <%= @@max_group %> </p>
<p>Array @@ebyp[0][0]: <%= @@ebyp[0][0].inspect %> </p>

<p>@@max_period: <%= @@max_period %> </p>
<p>Element count: <%= Element.count %></p>

<% chosen = 2 %>
<% @Base_entity_test = Base.all(:id => chosen) %>
<% @Base_entity_test.each {|base| @Base_test = base} %>

<p>@Base_entity_test.length: <%= @Base_entity_test.length %></p>
<p>Base #<%= chosen %>: <%= @Base_test.base %> </p>

<p>Number of bases: <%= @@bases.length %> </p>

<table>
	<% @@bases.each do |base| %>  
		<td>  
			<p>  
				<span><%= base.base %></span>
			</p>  
		</td>
	<% end %>
</table>

<!--p>Array @@ebyp.size: <%= @@ebyp.size %> </p>

<p>Array @@ebyp: <%= @@ebyp %> </p>
<p>Hash @ebypHash: <%= @ebypHash %> </p>
<p>Array @ebypHashKeys: <%= @ebypHashKeys %> </p>

<% @ec_class = "pt_e_config_small" #in pt_element.erb, specify electron config style: small text so can fit in table %>

<p>Start of by-period elements listing</p-->
<% period_header = 0 # labels for periods %>

<table>
	<tr>
		<th>Group</th>
		<% for group_header in 1..18 do %>
			<th>
				<% # if group_header == 1 %> Group <% # end %>
				<a href="/group/<%=group_header %>""><%= group_header %></a>
			</th>
		<% end %>
	</tr>
<% @@ebyp.each do |period| %>
	<% period_header += 1 #increment the period number in preparation for next period %>
	<% lastGroup = 0 %>
	<tr>
		<th class="period_header">
			<% if period_header == 1 %> Period<br> <% end %>
			<a href="/period/<%=period_header %>""><%= period_header %></a>	
				<% @base = Base.all(:id => period_header)[0].base %>
		</th>
		<% period.each do |element| %>
			<% blanks = element.group - lastGroup - 1 %>
			<% while blanks > 0 %>
				<td></td>
				<% blanks = blanks - 1 %>
			<% end %>
			<td class="inPTable">
				<a href="/element/<%=element.atomic_num %>">
					<span class="pt_atomic_num"><%= element.atomic_num %></span><br>
					<span class="pt_symbol"><%= element.symbol %></span><br>
					<span class="pt_name"><%= element.name %></span><br>
					<span class="pt_e_config"><%= element.e_config_valence %></span>
					<span class="pt_e_config">
						<%= @base %>
						<% @orbs = Orb.all(:element_id => element.atomic_num) %>
						<% for eo in 0..@orbs.size-1 %>
							<% @orbital = Orbital.all(:id => @orbs[eo].orbital_id)[0] %>
							<%=@orbital.n %><%= @orbital.l %>
							<sup><%=@orbs[eo].count%></sup>
						<% end %>
					</span>
					<!--span class="pt_atomic_weight"> 
						<% if element.atomic_wt_is_mass_number_of_longest_lived_isotope == 1 %>
							[<%= element.atomic_weight.round %>]
						<% else %>
							<%= element.atomic_weight %>
						<% end %>
					</span><br-->
					<!--span><%= element.e_config_valence %></span-->  
					<!--span><%= element.period %></span>  
					<span><%= element.group %></span>
					-->
					<% lastGroup = element.group %>
				</a>
			</td>
		<% end %>
 	 </tr>
<% end %> 
</table>
<!--p>End of by-period elements listing</p-->