<% @ec_class = "narrow" #in pt_element.erb, specify electron config style: small text so can fit in table %>

<!-- Main groups table -->
<% period_header = 0 # labels for periods %>
<table class="home">
	<tr>
		<th class="col1" id="main_col1">Group</th>
		<% @main_groups.each do |group_header| %>
			<th class="home_element">
				<% # if group_header == 1 %> Group <% # end %>
				<%= erb :group_link_generator, :locals=> {:linear_group => group_header} %>
			</th>
		<% end %>
	</tr>
<% @ebyp.each do |period| %>
	<% period_header += 1 #increment the period number in preparation for next period %>
	<% lastGroup = 0 %>
	<tr>
		<th class="period_header">
			<% if period_header == 1 %> Period<br> <% end %>
			<%= erb :link_generator, :locals=> {:link => Hash["type" => 'period','number'=>period_header]} %>			
				<% @base = Base.all(:id => period_header)[0].base %>
		</th>
		<% period.each do |element| %>
			<% blanks = element.group - lastGroup - 1 %>
			<% if not @main_groups.include? element.group %>
				<% blanks = 0 %>
				<% lastGroup += 1 %>	
				<% next %>
			<% end %>
			<% while blanks > 0 %>
				<td></td>
				<% blanks = blanks - 1 %>
			<% end %>
			<td class="inPTable">
				<% @element = element %>
				<%= erb :pt_element, :locals=> {:markers => true} %>
				<% if element.group == @main_pauses_group %>
					<% lastGroup = @main_resumes_group-1 %>
				<% else %>
					<% lastGroup = element.group %>
				<% end %>
			</td>
		<% end %>
 	 </tr>
<% end %> 
</table>

<!-- f groups table -->
<% period_header = 0 # labels for periods %>
<% period_plotted = false #keep track of whether a period has been plotted yet %>
<table class="home">
	<tr>
		<th class="col1" id="f_col1">Group</th>
		<td class="spacer"></td>
		<td class="spacer"></td>
		<% @f_groups.each do |group_header| %>
			<th class="home_element">
				<% # if group_header == 1 %> Group <% # end %>
				<%= erb :group_link_generator, :locals=> {:linear_group => group_header} %>
			</th>
		<% end %>
	</tr>
	
<% @ebyp.each do |period| %>
	<% period_header += 1 #increment the period number in preparation for next period %>
	<% lastGroup = 0 %>
	<% if Element.all(:period => period_header, :group => @main_pauses_group+1).size > 0 # if there are f group elements in this period, plot them; if not, skip period %>
		<tr>
			<th class="period_header">
				<% if period_plotted == false %> Period<br> <% end %>
				<% period_plotted = true #keep track of whether a period has been plotted yet %>
				<%= erb :link_generator, :locals=> {:link => Hash["type" => 'period','number'=>period_header]} %>			
					<% @base = Base.all(:id => period_header)[0].base %>
			</th>
			<td class="spacer"></td>
			<td class="spacer marker">
				<% if period_header == 6 %>&#9733;<% end %>
				<% if period_header == 7 %>&#9733;&#9733;<% end %>
			</td>
			<% period.each do |element| %>
				<% blanks = element.group - lastGroup - 1 %>
				<% if not @f_groups.include? element.group # if element group isn't an f group, skip element %>
					<% blanks = 0 %>
					<% lastGroup += 1 %>	
					<% next %>
				<% end %>
				<% while blanks > 0 %>
					<td class="blanks"></td>
					<% blanks = blanks - 1 %>
				<% end %>
				<td class="inPTable">
					<% @element = element %>
					<%= erb :pt_element %>
					<%# if element.group == @main_pauses_group %>
						<%# lastGroup = @main_resumes_group-1 %>
					<%# else %>
						<% lastGroup = element.group %>
					<%# end %>
				</td>
			<% end %>
			<td class="spacer"></td>
			<td class="spacer"></td>
 		</tr>
	<% end %>
<% end %>

</table>
