<% start_time = Time.new %>
<% properties = 
	{"atomic_num"=>nil,
	"symbol"=>nil,
	"name"=>nil,
	"e_config" => {"base" => false, "space_terms" => true, "term_spans"=>false}} %>

<table class="home">
<!-- Main groups -->
<% period_header = 0 # labels for periods %>
	<tr>
		<% rows_total = 2 + @max_period + 2 + 1 %>
			<%# Number of rows for "Period" to span: 12 =
				2 header rows for main + 7 main periods + 1 header row for f + 2 f periods %>
		<th rowspan="<%=rows_total%>" class="period_word rotate">
			Period
		</th>
		<th></th>
		<th>Group</th>
	</tr>
	<tr>
		<th class="period_header period_labels_col"></th>
		<% @main_groups.each do |group_header| %>
			<th class="home_element">
				<% # if group_header == 1 %> Group <% # end %>
				<%= erb :'partials/group_link_generator', :locals=> {:linear_group => group_header} %>
			</th>
		<% end %>  
	</tr>
<% @ebyp.each do |period| %>
	<% period_header += 1 #increment the period number in preparation for next period %>
	<% lastGroup = 0 %>
	<tr>
		<th class="period_header period_labels_col">
			<%= erb :'partials/link_generator', :locals=> {:link => Hash["type" => 'period','number'=>period_header]} %>
		</th>
		<% period.each do |element| %>
			<% next if not @main_groups.include? element.grouplin # skip non-main group (e.g., f-block) elements %>
			<% blanks = element.grouplin - lastGroup - 1 %>
			<% while blanks > 0 %>
				<td></td>
				<% blanks -= 1 %>
			<% end %>
			<td class="inPTable">
				<%= erb :'partials/pt_element', :locals=> {:element => element, :markers => true, :properties => properties, :ec_class => "narrow"} %>
				<% if element.grouplin != @main_pauses_group %>
					<% lastGroup = element.grouplin #record the group number of this element %>
				<% else %>
					<% lastGroup = @f_groups.max #if this is traditional group 2, set lastGroup so won't be blanks between this element and next element (traditional group 3) %>
				<% end %>
			</td>
		<% end %>
 	 </tr>
<% end %> 

<!-- f groups table -->
<% period_header = 0 # labels for periods %>
	<tr>
		<th class="f_group_labels"></th>
		<th class="spacer"></th>
		<th class="spacer"></th>
		<% @f_groups.each do |group_header| %>
			<th class="home_element">
				<%= erb :'partials/group_link_generator', :locals=> {:linear_group => group_header} %>
			</th>
		<% end %>
	</tr>
	
	<% @ebyp.each do |period| %>
		<% period_header += 1 #increment the period number in preparation for next period %>
		<% lastGroup = 0 %>
		<% if Element.where(:period => period_header, :grouplin => @f_groups.min).size > 0 # if there are f group elements in this period, plot them; if not, skip period %>
			<tr>
				<th class="period_header period_labels_col">
					<%= erb :'partials/link_generator', :locals=> {:link => Hash["type" => 'period','number'=>period_header]} %>			
				</th>
				<td class="spacer"></td>
				<td class="spacer marker">
					<% if period_header == 6 %><%=@star%><% end %>
					<% if period_header == 7 %><%=@star%><%=@star%><% end %>
				</td>
				<% period.each do |element| %>
					<% next if not @f_groups.include? element.grouplin # if element group isn't an f group, skip element %>
					<td class="inPTable">
						<%= erb :'partials/pt_element', :locals=> {:element => element, :ec_class => "narrow", :properties => properties} %>
						<% lastGroup = element.grouplin %>
					</td>
				<% end %>
				<td class="spacer"></td>
				<td class="spacer"></td>
 			</tr>
		<% end %>
	<% end %>
</table>

<p style="padding-top: 20px">Note: Only valence electrons are shown on this page to save space.</p>
<%#="home.erb time: " + (Time.new-start_time).to_s %>