<% @elements.each do |element| %>  
  <article>  
    <p>  
      <span><%= element.atomicnum %></span>
      <br>
      <span><%= element.symbol %></span>  
      <span><%= element.econfigvalence %></span>
<!--      <span><%= element.name %></span>  
      <span><%= element.econfigvalence %></span>  
      <span><%= element.period %></span>  
      <span><%= element.group %></span>  
-->
    </p>  
  </article>
  
  <article>  
  </article>

<% end %> 