<% element_num = 5 %>
<%  element = Element.find(element_num) %>

<% period_header = 5 %>
<p>@main_pauses_group+1: <%=@main_pauses_group+1%></p>

<%# Element.where("period = ? AND group = ?", period_header, @main_pauses_group+1).size %>
<%# element_selected = Element.where("period = ? AND group = ?", 1, 1)[0] %>
<%# element_selected = Element.where(:period => 3, :group => 2)[0] %>
<% element_selected = Element.where(:period => period_header, :group => @main_pauses_group+1)[0] %>
<% size_selected = Element.where(:period => period_header, :group => @main_pauses_group+1).size %>
<p>size_selected: <%=size_selected%></p>

<h1>Element selected</h1>
<ul>
    <h2><%#= element_selected.name %></a></h2>
    <p><%#= element_selected.symbol %></p>
    <p><%#= element_selected.atomic_weight %></p>
  </li>
</ul>


<% @orbs = Orb.where("element_id = ?", element.atomic_num) %>

<h1>Orbitals for element #<%=element_num%></h1>
<ul>
<% @orbs.each do |orb| %>
  <li>
    <h2><%= orb.element_id %></h2>
    <p><%= orb.orbital_id %></p>
    <p><%= orb.count %></p>
  </li>
<% end %>
</ul>

<% @elements = Element.order("atomic_num ASC") %>
<% @max_period			= Element.last(1)[0].period %>
<p>@max_period: <%=@max_period%></p>

<% @max_group = Element.order(group: :desc)[0].group %>
<p>@max_group: <%=@max_group%></p>

<%	@ebyp = Array.new(@max_period) # array to hold elements %>
<%	@ebyp.each_index do |period| # build a 2D array: by period, then by element %>
	<%	@ebyp[period] = @elements.select{|element| element.period == period+1} %>
<%	end %>

<%	@bases				= Base.all %>

<% @orbitals			= Orbital.order("id ASC") %>

<h1>Orbitals from @orbitals</h1>
<ul>
<% @orbitals.each do |orbital| %>
  <li>
    <h2><%= orbital.id %></h2>
    <p><%= orbital.n %></p>
    <p><%= orbital.l %></p>
  </li>
<% end %>
</ul>

<h1>Bases from @bases</h1>
<ul>
<% @bases.each do |base| %>
  <li>
    <h2><%= base.id %></h2>
    <p><%= base.base %></p>
  </li>
<% end %>
</ul>

<h1>Elements from @ebyp</h1>
<ul>
<% @elements.each do |element| %>
  <li>
    <h2><a href="/element/<%= element.atomic_num %>"><%= element.name %></a></h2>
    <p><%= element.symbol %></p>
    <p><%= element.atomic_weight %></p>
  </li>
<% end %>
</ul>

<h1>Elements from @elements.each</h1>
<ul>
<% @elements.each do |element| %>
  <li>
    <h2><a href="/element/<%= element.atomic_num %>"><%= element.name %></a></h2>
    <p><%= element.symbol %></p>
    <p><%= element.atomic_weight %></p>
  </li>
<% end %>
</ul>
