<% @period = 5 %>
<p>@period: <%=@period%></p>
<% @above_period = Element.where(:period => @period-1) %>
<p>@above_period (period <%=@period-1%>): value = <%=@above_period%>, size = <%=@above_period.size%>, type = <%=@above_period.class%></p>
<ul>
<% @above_period.each do |element| %>
  <li>
    <h2><%= element.symbol %></h2>
  </li>
<% end %>
</ul>

<% @linear_group = 2 %>
<%# @group_elements = Element.where(:group => @linear_group).order("group ASC") %>
<%# @group_elements = Element.where(:group => @linear_group) %>
<%# @group_elements = Element.where(:group => @linear_group).order(:group) %>
<% @group_elements = Element.where(:group => @linear_group).order(group: :asc) %>
<p>@group_elements (linear group <%=@linear_group%>): value = <%=@group_elements%>, size = <%=@group_elements.size%>, type = <%=@group_elements.class%></p>
<ul>
<% @group_elements.each do |element| %>
  <li>
    <h2><%= element.symbol %></h2>
  </li>
<% end %>
</ul>




<% element_num = 5 %>
<%  element = Element.find(element_num) %>
<%  @origin = Element.find(element_num) %>


<% @above = Element.where(:period => @period-1)[0] %>
<p>@above: <%=@above.name%></p>


	<%# Element.where(group = @linear_group).order("group ASC").find_each do |element| %>
	<%# Element.where(group = @linear_group).find_each {|t| t } %>
		<%#=element.name %>
	<%# end %>

	<% @linear_group = 27 %>
	<% @group_elements = Element.where(:group => @linear_group).order("group ASC") %>

<%# @origin = element %>
<% @left = Element.where(period: @origin.period, group: @origin.group)[0] # = ? AND group = ?", , @origin.group) %>
<%# @leftb = Element.first("period = ? AND group = ?", @origin.period, @origin.group) # = ? AND group = ?", , @origin.group) %>
<%# @leftc = Element.first("period = ?", @origin.period) # = ? AND group = ?", , @origin.group) %>
<%# @leftb = Element.where("period = @origin.period").where("group = @origin.group") # AND )[0] # = ? AND group = ?", , @origin.group) %>

<%#.order(group: :desc)[0] %>
<p>@left: <%=@left.name%>.
@left.size: <%#=@left.size%></p>
<p>@leftb: <%#=@leftb.name%>;
@leftb.size: <%#=@leftb%></p>

<p>@origin: <%=@origin.name%></p>

<p>@f_groups.min: <%=@f_groups.min%></p>
<p>@f_groups.max: <%=@f_groups.max%></p>

<% period_header = 5 %>
<p>@main_pauses_group+1: <%=@main_pauses_group+1%></p>

<%# Element.where("period = ? AND group = ?", period_header, @main_pauses_group+1).size %>
<%# element_selected = Element.where("period = ? AND group = ?", 1, 1)[0] %>
<%# element_selected = Element.where(:period => 3, :group => 2)[0] %>
<% element_selected = Element.where(:period => period_header, :group => @main_pauses_group+1)[0] %>
<% size_selected = Element.where(:period => period_header, :group => @main_pauses_group+1).size %>
<p>size_selected: <%=size_selected%></p>

<h1>Element selected</h1>
<ul>
    <h2><%#= element_selected.name %></a></h2>
    <p><%#= element_selected.symbol %></p>
    <p><%#= element_selected.atomic_weight %></p>
  </li>
</ul>


<% @orbs = Orb.where("element_id = ?", element.atomic_num) %>
<p>@orbs: type = <%=@orbs.class%> </p>

<h1>Orbitals for element #<%=element_num%></h1>
<ul>
<% @orbs.each do |orb| %>
  <li>
    <h2><%= orb.element_id %></h2>
    <p><%= orb.orbital_id %></p>
    <p><%= orb.count %></p>
  </li>
<% end %>
</ul>

<% @elements = Element.order("atomic_num ASC") %>
<% @max_period			= Element.last(1)[0].period %>
<p>@max_period: <%=@max_period%></p>

<% @max_group = Element.order(group: :desc)[0].group %>
<p>@max_group: <%=@max_group%></p>

<%	@ebyp = Array.new(@max_period) # array to hold elements %>
<%	@ebyp.each_index do |period| # build a 2D array: by period, then by element %>
	<%	@ebyp[period] = @elements.select{|element| element.period == period+1} %>
<%	end %>

<%	@bases				= Base.all %>

<% @orbitals			= Orbital.order("id ASC") %>

<h1>Orbitals from @orbitals</h1>
<ul>
<% @orbitals.each do |orbital| %>
  <li>
    <h2><%= orbital.id %></h2>
    <p><%= orbital.n %></p>
    <p><%= orbital.l %></p>
  </li>
<% end %>
</ul>

<h1>Bases from @bases</h1>
<ul>
<% @bases.each do |base| %>
  <li>
    <h2><%= base.id %></h2>
    <p><%= base.base %></p>
  </li>
<% end %>
</ul>

<h1>Elements from @ebyp</h1>
<ul>
<% @elements.each do |element| %>
  <li>
    <h2><a href="/element/<%= element.atomic_num %>"><%= element.name %></a></h2>
    <p><%= element.symbol %></p>
    <p><%= element.atomic_weight %></p>
  </li>
<% end %>
</ul>

<h1>Elements from @elements.each</h1>
<ul>
<% @elements.each do |element| %>
  <li>
    <h2><a href="/element/<%= element.atomic_num %>"><%= element.name %></a></h2>
    <p><%= element.symbol %></p>
    <p><%= element.atomic_weight %></p>
  </li>
<% end %>
</ul>
