<% @ethisp = @@ebyp[@period-1] %>

<!-- Database queries to find adjacent periods (above and below). If one doesn't exist, flagged as such to remove navigation arrows. -->
<% begin %>
	<% @above = Element.all(:period => @period-1)[0] %>
	<% above_exists = true if @above.atomic_num # OK if there is a group to the right; will go to rescue if not %>
<% rescue %>
	<% above_exists = false %>
<% end %>

<% begin %>
	<% @below = Element.all(:period => @period+1)[0] %>
	<% below_exists = true if @below.atomic_num # OK if there is a group to the below; will go to rescue if not %>
<% rescue %>
	<% below_exists = false %>
<% end %>

<!--p>Start of table of elements for selected period </p-->
<table>
	<tr>
		<th>Group</th>
		<% for group_header in 1..@@max_group do %>
			<th>
				<% # if group_header == 1 %> Group <% # end %>
				<a href="/group/<%=group_header %>""><%= group_header %></a>
			</th>
		<% end %>
	</tr>
	<% period_header = @period #go to the period of this page %>
	<% lastGroup = 0 %>
	<tr>
		<th class="period_header">
			Period
			<% if above_exists %>
				<a href="/period/<%= @period-1 %>" title="Period <%= @period-1 %>"> ^ </a><br>
			<% end %>
			<%= @period %>
			<% if below_exists %>
				<br><a href="/period/<%= @period+1 %>" title="Period <%= @period+1 %>"> &or; </a><br><!-- &or; is downward arrow, the opposite of ^ -->
			<% end %>
				<% #@base = Base.all(:id => period_header)[0].base %>
		</th>
		<% @ethisp.each do |element| %>
			<% blanks = element.group - lastGroup - 1 %>
			<% while blanks > 0 %>
				<td></td>
				<% blanks = blanks - 1 %>
			<% end %>
			<td class="inPTable">
				<a href="/element/<%=element.atomic_num %>">
					<span class="pt_atomic_num"><%= element.atomic_num %></span><br>
					<span class="pt_symbol"><%= element.symbol %></span><br>
					<span class="pt_name"><%= element.name %></span><br>
					<span class="pt_e_config">
						<% @base = Base.all(:id => element.period)[0].base %>
						<%= @base %>
						<% @orbs = Orb.all(:element_id => element.atomic_num) %>
						<% for eo in 0..@orbs.size-1 %>
							<% @orbital = Orbital.all(:id => @orbs[eo].orbital_id)[0] %>
							<%=@orbital.n %><%= @orbital.l %>
							<sup><%=@orbs[eo].count%></sup>
						<% end %>
					</span>
					<!--span class="pt_atomic_weight"> 
						<% if element.atomic_wt_is_mass_number_of_longest_lived_isotope == 1 %>
							[<%= element.atomic_weight.round %>]
						<% else %>
							<%= element.atomic_weight %>
						<% end %>
					</span><br-->
					<!--span><%= element.e_config_valence %></span-->  
					<!--span><%= element.period %></span>  
					<span><%= element.group %></span>
					-->
					<% lastGroup = element.group %>
				</a>
			</td>
		<% end %>
 	 </tr>
</table>
<!--p>End of table of elements for selected period </p-->
