<% @ethisp = @@ebyp[@period-1] %>

<!--p>Start of table of elements for selected period </p-->
<table>
	<tr>
		<th>Group</th>
		<% for group_header in 1..@@max_group do %>
			<th>
				<% # if group_header == 1 %> Group <% # end %>
				<a href="group/<%=group_header %>""><%= group_header %></a>
			</th>
		<% end %>
	</tr>
	<% period_header = @period #go to the period of this page %>
	<% lastGroup = 0 %>
	<tr>
		<th class="period_header">
			Period
			<%= @period %>	
				<% @Base_entity = Base.all(:id => @period) %>
				<% @Base_entity.each {|base| @Base = base.base} %>
		</th>
		<% @ethisp.each do |element| %>
			<% blanks = element.group - lastGroup - 1 %>
			<% while blanks > 0 %>
				<td></td>
				<% blanks = blanks - 1 %>
			<% end %>
			<td class="inPTable">
				<a href="/element/<%=element.atomic_num %>">
					<span class="pt_atomic_num"><%= element.atomic_num %></span><br>
					<span class="pt_symbol"><%= element.symbol %></span><br>
					<span class="pt_name"><%= element.name %></span><br>
					<span class="pt_e_config_valence"><%= element.e_config_valence %></span>
					<!--span class="pt_atomic_weight"> 
						<% if element.atomic_wt_is_mass_number_of_longest_lived_isotope == 1 %>
							[<%= element.atomic_weight.round %>]
						<% else %>
							<%= element.atomic_weight %>
						<% end %>
					</span><br-->
					<!--span><%= element.e_config_valence %></span-->  
					<span><%= @Base %></span>
					<!--span><%= element.period %></span>  
					<span><%= element.group %></span>
					-->
					<% lastGroup = element.group %>
				</a>
			</td>
		<% end %>
 	 </tr>
</table>
<!--p>End of table of elements for selected period </p-->
