<!-- Inputs (optional ones)
ec_class, (properties[Hash]), (markers), (no_link)
-->

<% # Show 5-pointed star on Ba (*) and Ra (**) if markers is true; used for home page (to point to lanthanides & actinides, respectively) %>
<% begin %>
	<% show_markers = true if markers %>
<% rescue %>
	<% show_markers = false %>
<% end %>

<% # Create a link to element's page unless no_link is true; if no_link isn't included in locals passed to this .erb, create a link %>
<% begin %>
	<% create_link = false if no_link %>
<% rescue %>
	<% create_link = true %>
<% end %>

<% if create_link %>
	<a href="/element/<%=element.atomic_num %>" title="element <%=element.atomic_num%>">
<% end %>

<!--a href="/element/<%=element.atomic_num %>" title="element <%=element.atomic_num%>"-->
	<div class="pt_atomic_num"><%= element.atomic_num %></div><!--br-->
	<div class="pt_symbol">
		<%= element.symbol %>
		<% if show_markers %>
			<% if element.atomic_num == 56 %>
				<sup class="pointer">&#9733;</sup>
			<% end %>
			<% if element.atomic_num == 88 %>
				<sup class="pointer">&#9733;&#9733;</sup>
			<% end %>
		<% end %>
	</div><!--br-->
	<div class="pt_name"><%= element.name %></div><!--br-->

	<div class="<%=ec_class%>">
		<% @base = Base.all(:id => element.period)[0].base %>
		<% @orbs = Orb.all(:element_id => element.atomic_num) %>
		<% # Following line squishes together all electron config terms so they won't have spaces between them (2s22p1 rather than 2s2 2p1) %>
		<!--span class="ec_base"><%= @base %></span-->
		<span class="terms">
			<% for eo in 0..@orbs.size-1 %>
				<% @orbital = Orbital.all(:id => @orbs[eo].orbital_id)[0] %>
				<span class="ec_<%=@orbital.n.to_s+@orbital.l%>">
					<span class="ec_<%=@orbital.n.to_s+@orbital.l%>n"><%=@orbital.n %></span><span class="ec_<%=@orbital.n.to_s+@orbital.l%>l"><%= @orbital.l %></span><span class="ec_<%=@orbital.n.to_s+@orbital.l%>c"><sup class="<%=ec_class%>"><%=@orbs[eo].count%></sup></span>
				</span>
			<% end %>
		</span>
	</div>

	<!--div class="pt_atomic_weight"> 
		<% if element.atomic_wt_is_mass_number_of_longest_lived_isotope == 1 %>
			[<%= element.atomic_weight.round %>]
		<% else %>
			<%= element.atomic_weight %>
		<% end %>
	</div-->

	<!--div><%= element.period %></div>  
	<div><%= element.group %></div-->
<% if create_link %>
	</a>
<% end %>