<a href="/element/<%=@element.atomic_num %>">
	<span class="pt_atomic_num"><%= @element.atomic_num %></span><br>
	<span class="pt_symbol"><%= @element.symbol %></span><br>
	<span class="pt_name"><%= @element.name %></span><br>

	<span class="<%=@ec_class%>">
		<% @base = Base.all(:id => @element.period)[0].base %>
		<span class="ec_base"><%= @base %></span>
		<span class="terms">
			<% @orbs = Orb.all(:element_id => @element.atomic_num) %>
			<% for eo in 0..@orbs.size-1 %>
				<% @orbital = Orbital.all(:id => @orbs[eo].orbital_id)[0] %>
				<span class="ec_<%=@orbital.n.to_s+@orbital.l%>">
					<span class="ec_<%=@orbital.n.to_s+@orbital.l%>n"><%=@orbital.n %></span>
					<span class="ec_<%=@orbital.n.to_s+@orbital.l%>l"><%= @orbital.l %></span>
					<span class="ec_<%=@orbital.n.to_s+@orbital.l%>c">
						<sup class="<%=@ec_class%>"><%=@orbs[eo].count%></sup>
					</span>
				</span>
			<% end %>
		</span>
	</span>

	<!--span><%= @element.period %></span>  
	<span><%= @element.group %></span-->
</a>
