<% for trad in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,"g1","f2","f3","f4","f5","f6","f7","f8","f9","f10","f11","f12","f13","f14"] do %>
	<%# group_entity = group_trad_to_lin(trad) %>
	<%# tradtype = trad.respond_to?('to_i') ? "integer" : "string" %>
	<% tradtype = trad.to_s[0].match(/^[[:alpha:]]$/) ? "string" : "integer" %>
	<p>For traditional group <%=trad%> (<%=tradtype%>: <%=trad.to_i%>), linear group is <%=group_trad_to_lin(trad)["num"]%></p>
<% end %>

	<p>@main_pauses_group: <%=@main_pauses_group%></p>
	<p>@main_resumes_group: <%=@main_resumes_group%></p>
	<p>@f_groups: <%=@f_groups%></p>

<% lin = 32 %>
<%= erb :group_link_generator, :locals=> {:linear_group => lin, :link => Hash['text'=>'^']} %>
<p>----------------</p>

<%= erb :link_generator, :locals=> {:link => Hash["type" => 'group','number'=>2]} %>

<p>----------------</p>

<% link = Hash["type" => 'period', "number" => 6, "text" => '^'] %>
<% # = erb :link_generator, :locals=> {:jer => 666} %>

<p>----------------</p>

<p>(@main_pauses_group+1)..(@max_group-14): <%= (@main_pauses_group+1)..(@max_group-14) %></p>

<% traditional_group = 'f19' %>

<% group_entity = group_trad_to_lin(traditional_group) %>
<p>For traditional group <%=traditional_group%>:
	group num: <%= group_entity["num"] %>,
	group type: <%= group_entity["type"] %></p>

<p>@main_groups: <%= @main_groups %></p>
<p>@f_groups: <%= @f_groups %></p>

<p>Hello world!</p>
<p>@max_period: <%= @max_period %></p>
<p>@max_group: <%= @max_group %></p>

<!--
<p>@max_group: <%= @max_group %> </p>

<p>@max_period: <%= @max_period %> </p>
<p>Element count: <%= Element.count %></p>

<% chosen = 2 %>
<% @Base_entity_test = Base.all(:id => chosen) %>
<% @Base_entity_test.each {|base| @Base_test = base} %>

<p>@Base_entity_test.length: <%= @Base_entity_test.length %></p>
<p>Base #<%= chosen %>: <%= @Base_test.base %> </p>

<p>Number of bases: <%= @bases.length %> </p>

<table>
	<% @bases.each do |base| %>  
		<td>  
			<p>  
				<span><%= base.base %></span>
			</p>  
		</td>
	<% end %>
</table>

<!--p>Array @ebyp.size: <%= @ebyp.size %> </p>
<p>Array @ebyp: <%= @ebyp %> </p>
<p>Hash @ebypHash: <%= @ebypHash %> </p>
<p>Array @ebypHashKeys: <%= @ebypHashKeys %> </p>