<% @link = Hash["type" => 'period', "number" => 6, "text" => '^'] %>
<p><%= erb :link_generator %></p>

<% @link = Hash["type" => 'group', "number" => 2] %>
<p><%= erb :link_generator %></p>

<p>@main_groups: <%= @main_groups %></p>
<p>@f_groups: <%= @f_groups %></p>

<p>Hello world!</p>
<p>@max_period: <%= @max_period %></p>
<p>@max_group: <%= @max_group %></p>

<!--
<p>@max_group: <%= @max_group %> </p>

<p>@max_period: <%= @max_period %> </p>
<p>Element count: <%= Element.count %></p>

<% chosen = 2 %>
<% @Base_entity_test = Base.all(:id => chosen) %>
<% @Base_entity_test.each {|base| @Base_test = base} %>

<p>@Base_entity_test.length: <%= @Base_entity_test.length %></p>
<p>Base #<%= chosen %>: <%= @Base_test.base %> </p>

<p>Number of bases: <%= @bases.length %> </p>

<table>
	<% @bases.each do |base| %>  
		<td>  
			<p>  
				<span><%= base.base %></span>
			</p>  
		</td>
	<% end %>
</table>

<!--p>Array @ebyp.size: <%= @ebyp.size %> </p>
<p>Array @ebyp: <%= @ebyp %> </p>
<p>Hash @ebypHash: <%= @ebypHash %> </p>
<p>Array @ebypHashKeys: <%= @ebypHashKeys %> </p>