<% load_orbitals("") %>

<% for orbital in 1..(@orbital_hash.size) %>
	<p>@orbital_hash[<%=orbital%>]: n = <%=@orbital_hash[orbital]["n"] %>, l = <%=@orbital_hash[orbital]["l"] %></p>
<% end %>

------------------

<% @orbital_hash.each do |key, value| %>
	<p><%=key%>: <%=value%></p>
<% end %>